body {
	
}
#map_of_usa {
	width: 800px;
	height: 400px;
	position: relative;
}
#upload-panel {
	margin-top: 20px;
}
.menu-label {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 10px;
	border-radius: 2px;
	border: 1px solid #f5f5f5;
}